<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="aboutus">
            <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text">For all your plant parent needs!</p>
          <p class="aboutus-text">We guarantee the health and longevity of all of our babies. Our only goal is to make it easy to bring home the perfect plants to brighten up your living space!</p>
        </div>
      </div>
    </div>
  </div>
</div>